@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Bold.ttf) format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Light.ttf) format(truetype);
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Medium.ttf) format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-SemiBold.ttf) format(truetype);
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/PlayfairDisplay-Bold.ttf) format(truetype);
    font-weight: 700;
}

$white-color: #ffffff;
$orange-color: #FB8F1D;
$grey-color: #B8BECD;
$black-color: #202336;
$bblack-color: #000000;
$ggrey-color: #7D7987;
$fotgrey: #848484;
$darkgrey-color: #4A4C53;

%flexspb {
    display: flex;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
}

body {
    width: 1200px;
    margin: 0 auto;
}

header {
    @extend %flexspb;
    align-items: center;


    nav {
        @extend %flexspb;
        align-items: center;

        p {
            margin-right: 35px;
            font: 500 16 'Inter';
            color: $grey-color;

            &:hover {
                color: $black-color;
            }
        }

        div:not(:last-child) {
            margin-right: 18px;
        }


        .login-btn {
            width: 132px;
            height: 44px;
            color: $orange-color;
            border: 1px solid $orange-color;
            border-radius: 8px;
            text-align: center;
            padding-top: 10px;
        }

        .register-btn {
            width: 132px;
            height: 44px;
            background-color: $orange-color;
            border: 1px solid $orange-color;
            border-radius: 8px;
            text-align: center;
            padding-top: 10px;
            color: $white-color;
        }

    }

    .img-logo {
        background-image: url(./assests/logo.svg);
        width: 41px;
        height: 41px;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.preview {
    @extend %flexspb;
    align-items: center;
    margin-top: 100px;

    .travel-form {
        width: 500px;

        h1 {
            font: 700 64px 'Playfair Display';
            color: $black-color;
        }

        p {
            font: 600 22px 'Inter';
            color: $black-color;
            margin: 50px 0;
        }

        .inputs-form {
            display: flex;
            flex-wrap: wrap;

            div {
                margin-bottom: 30px;

                &:not(:last-child) {
                    margin-right: 30px;
                }
            }

            input {
                width: 220px;
                height: 52px;
                border: 0.8px solid $grey-color;
                border-radius: 6px;
                padding-left: 20px;
                outline: none;

                &::placeholder {
                    font: 400 15x 'Inter';
                    color: $darkgrey-color;
                }
            }
        }

        .btn {
            background: $orange-color;
            border-radius: 8px;
            width: 180px;
            text-align: center;
            padding: 15px 0;
            font: 700 17px 'Inter';
            color: $white-color;
        }
    }

    .img-travel {
        background-image: url(./assests/thousand-1.svg);
        width: 506px;
        height: 483px;
        background-size: contain;
        background-repeat: no-repeat;
    }

}

.travel {
    @extend %flexspb;
    align-items: center;
    margin-top: 100px;

    .img-travel {
        background-image: url(./assests/Thousand-2.svg);
        width: 659px;
        height: 534px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .text {
        width: 450px;
        margin-left: 66px;

        h1 {
            font: 700 36px 'Playfair Display';
            color: $bblack-color;
        }

        p {
            font: 300 17px 'Inter';
            color: $ggrey-color;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .btn {
            background: $orange-color;
            border-radius: 8px;
            width: 164px;
            text-align: center;
            padding: 15px 0;
            font: 600 16px 'Inter';
            color: $white-color;
        }
    }
}

footer {
    @extend %flexspb;
    align-items: center;
    margin-top: 280px;
    justify-content: space-between;

    .info {
        width: 391px;
        color: $fotgrey;

        .img-logo {
            background-image: url(./assests/footer-logo.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 44px;
            height: 37px;
        }

        p {
            width: 351px;
            font: 300 18px 'Inter';
            margin-top: 20px;
            margin-bottom: 45px;
        }
    }

    .column {
        @extend %flexspb;
        justify-content: space-between;
        width: 820px;

        div h3 {
            font: 700 19px 'Inter';
            color: $bblack-color;
            margin-bottom: 20px;
        }

        div p {
            width: 351px;
            font: 300 18px 'Inter';
            margin-bottom: 8px;
            color: $fotgrey;
        }
    }
}